body{
margin:0px;
padding:0px;
text-align:center;
font-size:12px;
}
a{
color:#212020;
text-decoration:none;
font-size:12px;
}
a:hover{
color:#ea5c2e;
text-decoration:underline;
}
.bannerBox,.linkbarBox,.footerBox,.playBox{
width:100%;
}
.bannerBox{
min-width:1006px;
height:120px;
background:url(../images/topBg.jpg) repeat-x;
}
h3{
font-size:14px;}

.bannerContent{
width:1006px;
text-align:left;
margin:0px auto;
position:relative;
}
.bannerContent img{
margin:0px;
border:0px;}
.searchBox{
position:absolute;
top:33px;
left:450px;
width:300px;
height:31px;}
.searchBg{
background:url(../images/searchBtns.jpg) 0px 0px no-repeat;
width:262px;
height:31px;
float:left;}
.searchBg input{
border: 0 none;
height:23px;
line-height:23px;
width:240px;
margin: 3px 2px 0 10px;
color:#858585;
}

.searchBtn{
display:block;
float:left;
background:url(../images/searchBtns.jpg) -262px 0px no-repeat;
height:31px;
width:33px;
}
.searchBtn:hover{
background:url(../images/searchBtns.jpg) -295px 0px no-repeat;
}

.hotLink{
display:block;
color:#ababab;
position:absolute;
top:70px;
left:450px;
}
.hotLink a{
color:#ababab;
margin:auto 5px;
}
.hotLink a:hover{
color:#ea5c2e;
}

.loginInfoBox{
position:absolute;
top:33px;
right:0px;
height:70px;}
.loginInfoBox a{
color:#ababab;
display:block;
float:left;
width:40px;
height:23px;
line-height:23px;
padding-left:25px;
padding-top:5px;
}
.login{
background:url(../images/userBtns.jpg) 0px 0px no-repeat;
}

.reginst{
background:url(../images/userBtns.jpg) 0px -26px no-repeat;
}

.linkbarBox{
min-width:1006px;
height:48px;
line-height:48px;
background:url(../images/linkbarBg.jpg) repeat-x;
margin:0px;
padding:0px;
}
.linkbarCenter{
margin:auto;
width:1006px;
text-align:left;
color:#fff;
_margin-top:7px;
}
.linkbarCenter a{
display:inline-block;
color:#fff;
font-weight:bold;
width:73px;
text-align:center;
height:35px;
line-height:35px;


}
.linkbarCenter a:hover{

text-decoration:none;
color:#ffd19f;}

.active{
background:url(../images/activeBtn.jpg) no-repeat;
}

.contentBox{
width:1006px;
margin-left:auto;
margin-right:auto;
margin-top:17px;
clear:both;
}

.LeftMovieBox{
width:681px;
float:left;
}
.blockBox,.blockBox-paihang,.blockBoxElse,.blockBox-sousuo{
border:1px solid #d4d4d4;
margin-bottom:13px;
clear:both;
}
.blockBox{
width:679px;
}
.blockBox-paihang{
width:306px;
}
.blockBoxElse{
width:1004px;
}
.blockBox-sousuo{
width:200px;}
.titleBg,.titleBg-paihang{
 clear: both;
 text-align: left;
}
.titleBg{
width:100%;
height:40px;
line-height: 40px;
background:url(../images/titleBg.jpg) repeat-x;
border-bottom:1px solid #d4d4d4;
}
.titleBg-paihang{
width:306px;
height:31px;
line-height:31px;
background-color:#212020;
}
.titleBg span,.titleBg-paihang span,.titleBg p{
font-weight: bold;
font-size:16px;
float:left;
margin:0px;
padding:0px;}

.titleBg span{
color:#e76e1f;
margin-left:30px;}

.titleBg-paihang span{
color:#fff;
margin-left:10px;
}
.titleBg p{
margin-left:15px;
}
.linkList{
float: right;
padding-right:25px;
}
.paddingL{
padding-right:15px;
}
.linkList a{
/*background: url("../images/btnMore.jpg") no-repeat scroll 0 0 transparent;*/
margin:10px 5px;
text-align: center;
}

.linkList-paihang{
float: right;
padding-right:10px;
}
.linkList-paihang a{
margin:10px 5px;
text-align: center;
color:#ababab;
}
.linkList-paihang a:hover{
color:#ea5c2e;
}
.picContent{
margin:0px;
padding:0px;
margin-left:30px;
margin-top:20px;
clear:both;
text-align:left;
}
.marginL50{
margin-left:40px;}
.bottomLine{
width:946px; 
height:5px; 
border-bottom:1px solid #d4d4d4; 
clear:both;}
.clear{
 clear: both;
 height: 0;
 overflow: hidden;
}
.PicBlock,.picBlockWidth{
width:162px;
float:left;
text-align:left;
margin-bottom:17px;
}
.picBlockWidth{
width:167px;
padding-left:35px;
}
.picBlockChange{
width:149px;
}
.AlinkPic,.AlinkPicHorizontal{
display:block;
width:132px;
height:182px;
border:1px solid #d4d4d4;
position:relative;

}
.AlinkPic img{
border:4px solid #FFF;
width:124px;
height:174px;
}

.AlinkPicHorizontal{
height:80px;
}
.AlinkPicHorizontal img{
border:4px solid #FFF;
width:124px;
height:72px;
}

.Alink{
display:block;
margin-top:10px;
outline:none;
}
.update,.updateElse{
position:absolute;
bottom:4px;
width:124px;
left:7px;
height:21px;
line-height:21px;
background-color:#000;
opacity: 0.6;
color:#FFF;
text-align:center;
}
.updateElse{
left:4px;
}
.PicBlock p{
color:#202020;
padding:0px;
margin:0px;
margin-top:5px;
}
.PicBlock p a{
color:#202020;
}
.PicBlock p a:hover{
color:#ea5c2e;
}


.PicBlock div {
margin-top:5px;
margin-left:-3px;}
.ad{
margin-bottom:13px}
.RightListBox{
width:308px;
float:left;
margin-left:17px;
_margin-left:14px;
}
.listContent{
margin:0px;
padding:0px;
margin:auto;
margin-top:14px;
clear:both;
width:290px;
}
.widthChange{
width:100px;
}
.listContent ul{
margin:auto;
padding:0px;}

.listContent ul li{
display:block;
height:31px;
line-height:31px;
border-bottom:1px solid #d4d4d4;
list-style:none;
}
.listContent ul li span{
display:block;
height:14px;
line-height:14px;
width:14px;
border:1px solid #a7a7a7;
background-color:#f2f0f0;
text-align:center;
color:#676767;
float:left;
margin:0px;
margin-right:6px;
margin-top:6px;
}
.listContent ul li a{
display:block;
float:left;
width:190px;
text-align:left;
}

.listContent ul li div{
float:left;
width:145px;
overflow:hidden;
}
.listContent ul li div a{
display:block;
float:left;
text-align:left;
width:121px;
}
.listContent ul li p{
display:block;
float:left;
color:#676767;
margin:0px;
padding:0px;
margin-left:12px;
}
.listContent ul li p a{
display:block;
float:left;
width:auto;
text-align:left;
color:#666;
}


.listContent ul li p a:hover{
display:block;
float:left;
width:auto;
text-align:left;
color:#ea5c2e;
}
.footerBox{
min-width:1006px;
background:url(../images/footerBg.jpg) repeat-x;
height:84px;
clear:both;
}

.FotteContent{
width:1006px;
margin:auto;
/*padding-top:25px;
background-color:#666;*/
height:auto;
}

.blockCenter{
padding:0px;
width:270px;
padding-top:15px;
margin:auto;
}
.blockCenter ul{
margin:0px;
padding:0px;
}
.blockCenter ul li{
display:inline;
color:#CCC;
}
.blockCenter ul li a{
background:none;
color:#ababab;
}
.blockCenter ul li a:hover{
color:#ea5c2e;
}
.blockCenter p{
color:#CCC;
}

/*电影不同样式*/
.jiansuoBox{
width:1004px;/*1004+减去border的2px*/
height:117px;
background:url(../images/jiansuoBg.jpg) repeat-x;
border:1px solid #d4d4d4;
margin-bottom:17px;
}

.jiansuoTitle {
 float: left;
 text-align: center;
 width: 117px;
margin-top:20px;
}
.jiansuoTitle h2{
font-size: 26px;
color: #f27e2d;
 font-weight: bold;
margin:0px;
padding:0px;
margin-bottom:15px;
}
.kuaibox {
 float: left;
 height: 117px;
 text-align: center;
 width: 240px;
background:url(../images/jiansuoLine.jpg) no-repeat left center;
}

.linkContent {
 margin:auto;
 width: 170px;
line-height:22px;
text-align:left;
color:#999;
}
.linkContent a{
margin:auto 5px;
}
.linkContent a:hover{
color:#ea5c2e;
}
.activeLink{
color:#F00;
}

.linkContent h3{
text-align:left;
margin:10px auto 5px auto;
padding-left:5px;
color: #212020;
}

.WelBlock{
width:619px;
text-align:left;
margin-bottom:17px;
border-bottom:1px solid #d4d4d4;
padding-bottom:14px;
}

.AlinkWelPic{
display:block;
width:89px;
height:124px;
border:1px solid #d4d4d4;
float:left;

}

.AlinkWelPic img{
border:2px solid #FFF;
}

.WelInfo {
 float: left;
 margin-left:20px;
 width: 500px;
}

.WelInfo span{
margin-left:10px;
font-weight:bold;
color:#f27d2d;
}

.WelInfo p{
margin:8px auto;
clear:both;
line-height:22px;
color:#202020;
}
.WelInfo p a{
color:#ea5c2e;
}


.AlinkWel{
display:block;
margin:1px 10px 1px 0px;
float:left;
}

/*星号*/
.vote-star{
display:inline-block;/*内联元素转换成块元素，并不换行 weisay.com*/ 
margin-right:6px; width:85px;/*5个星星的宽度 weisay.com*/ 
height:17px;/*1个星星的高度 weisay.com*/ 
overflow:hidden; 
vertical-align:middle; 
background:url(../images/star.png) repeat-x 0 -17px;}
.vote-star i{ 
display:inline-block;/*内联元素转换成块元素，并不换行 weisay.com*/ 
height:17px;/*1个星星的高度 weisay.com*/ 
background:url(../images/star.png) repeat-x 0 0;
}
.vote-number{
vertical-align:middle; 
font-family:Arial, Helvetica, sans-serif;
}

/*详情页面不同样式*/

.AlinkInforPic{
display:block;
width:164px;
height:244px;
border:1px solid #d4d4d4;
float:left;
}
.AlinkInforPic img{
border:2px solid #FFF;
width:160px;
height:240px;
}
.textBox{
float:left;
margin:0px 0px 0px 30px;
width:422px;
max-width:422px;
}

.InfoTextBox {
 float: left;
 width: auto;
}
.InfoTextBox p {
 color:#202020;
line-height:20px;
margin-top:-2px;
}
.InfoTextBox p span{
color:#6c6c6c;}
.InfoTextBox p a{
 color:#ea5c2e;

}
.textBoxWidth{
float:left;
margin:0px 0px 0px 30px;
width:750px;
max-width:750px;
}

.playBtnBox{
background:url(../images/InforPlayBtnBg.jpg) center bottom repeat-x;
min-height:90px;
_height:90px;
width:679px;
}
.playBtn,.playBtnActive{
background:url(../images/playBtns.jpg) no-repeat;
color:#fff;
font-weight:bold;
text-align:center;
border: 0 none;
height:41px;
line-height:41px;
cursor:pointer;
margin:10px 5px;
}

.four{
width:90px;
background-position:-114px -7px;

}
.four:hover{
background-position:-4px -7px;
}
.playBtnActive{
background-position:-4px -7px;
}
.six{
width:110px;
background-position:-356px -7px;

}
.six:hover{
background-position:-225px -7px;
}
.playCent{
margin:auto;
padding-bottom:10px;
width:630px;
text-align:left;
}
.AlinkCommentPic{
display:block;
width:61px;
height:61px;
border:1px solid #d4d4d4;
float:left;
margin-top:2px;
}
.AlinkCommentPic img{
border:2px solid #FFF;
}
.h3Style{
color:#f27d2d;
height:22px;
line-height:22px;
font-size:19px;
margin-top:30px;
}
.h3Style span{
display:inline-block;
width:6px;
height:15px;
background-color:#f27d2d;
margin-right:8px;
}

.WelInfo h3{
color:#f27d2d;
margin:0px;
}
.divStyle{
color:#515151;
margin:0px;
}
.divStyle a{
color:#515151;}
.floatLeft{
float:left;
}
.floatRight{
float:right;
}
.WelBlockborder{
border-bottom:1px solid #e1c2a2;
padding-bottom:5px;
}
.WelBlockborderNone{
border-bottom:0px solid #e1c2a2;
}
.WelBlockborderNoneElse{
border-bottom:0px solid #e1c2a2;
margin-bottom:0px;
padding-bottom:10px;
}
.fontStyle{
color:#222;
line-height:26px;
}

.moreFoot {
 border-top: 1px solid #FFFFFF;
 clear: both;
 padding: 10px;
 position: relative;
 top: -1px;
 z-index: 1;
}
.moreFoot .c_tx2 {
 color: #f27d2d;
}
.moreFoot a {
 background-color: #EEEEEE;
 background-image: -moz-linear-gradient(center top , #FAFAFA, #E7E7E7);
 border: 1px solid #D4D4D4;
 border-radius: 3px 3px 3px 3px;
 box-shadow: 0 1px 0 0 white inset;
 display: block;
 font-weight: bold;
 height: 26px;
 line-height: 16px;
 padding-top: 9px;
 text-align: center;
}
.inputTxt{ 
height:70px;
width:530px;
margin-left:20px;

}
.APic{
background:url(../images/sharePic.jpg) no-repeat;
height:28px;
display:inline-block;
width:26px;
}

.sina{
background-position:0px 0px;
}

.tencent{
background-position:-30px 0px;
}
.weibo{
background-position:-59px 0px;
}
.renren{
background-position:-88px 0px;
}
.tiantian{
background-position:-117px 0px;
}
.sentBtn{
margin-top:15px;
}
.sent{
background:url(../images/sentBtn.jpg) no-repeat;
height:38px;
line-height:38px;
width:82px;
margin:0px;
margin-left:10px;
}
.clearBoth{
clear:both;}
.starMargin{
margin-bottom:5px;}

.ListBlock{
width:290px;
text-align:left;
margin-bottom:17px;
border-bottom:1px solid #d4d4d4;
padding-bottom:14px;
}

.AlinkListPic{
display:block;
width:86px;
height:113px;
border:1px solid #d4d4d4;
float:left;
}

.AlinkListPic img{
border:2px solid #FFF;
}

.ListInfo{
width:180px;
margin-left:10px;
}
.ListInfo p{
color:#212020;
}



/*播放电影*/
.playBox{
background:url(../images/playBg.jpg) repeat-x top;
height:510px;
padding-bottom:2px;
}
.playBoxMid{
width:1006px;
height:510px;
background-color:#000;
min-width:1006px;
margin:auto;
}
.plsyTitleStyle{
min-width:1006px;
text-align:left;
}
.plsyTitleStyle h2{
margin:0px;}

.plsyTitleStyle h2 a{
color:#ea5c2e;
font-size:16px;
}

.playAlinkBox{
margin:10px 0px;}
.noBottomLine{
border-bottom:0px;
padding-bottom:0px;
margin-bottom:0px;
}
.WelInfo h2{
color:#f27d2d;
margin:5px auto;
}
.playInfo{
width:280px;
margin-left:5px;
}
.playInfo p{
line-height:26px;
}
/*search样式*/
.blockSearchBox{
border:1px solid #d4d4d4;
margin-bottom:13px;
width:1006px;
text-align:left;
overflow:auto;
padding-bottom:10px;
}

.sort{
margin-left:15px;
margin-top:10px;
clear:both;
position:relative;
height:1%;
overflow:auto;
}
.sort span{
color:#f27e2d;
display:block;
float:left;
line-height:24px;
float:left;
}
.aBox{
width:860px;
float:left;
color:#666;
}
 .aBox a{
display:block;
float:left;
padding:2px 9px;
line-height:24px;
font-family:Arial, Helvetica, sans-serif;
}
.SortActiveLink{
background-color:#333;
color:#FFF;}
.elseStyle{
margin-bottom:0px;
border-bottom:0px solid #d4d4d4;
}
/*电视剧详情*/

.bgColorStyle{
background-color:#f4f4f4;
text-align:left;
margin-top:-1px;
border:1px solid #d4d4d4;
}

.playNumBox{
text-align:left;
margin-left:26px;
margin-top:5px;
margin-bottom:5px;
}
.playNumBox a{
display:inline-block;
height:29px;
line-height:29px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
margin:7px 4px;
}
.Disactive{

width:49px;
background:url(../images/playNumBtns.jpg) -63px 0px no-repeat;
}
.playNumActive{

width:49px;
background:url(../images/playNumBtns.jpg) -0px 0px no-repeat;
color:#FFF;
}
.More{

width:112px;
background:url(../images/playNumBtns.jpg) 0px -33px no-repeat; 

}
.More span{
margin-left:5px;
}
.More img{
border:none;}
.marginB{
margin:0px;}

.dispayStyle{
display:inline-block;
margin: 0px;
padding:0px;
}

.sizeStyle{
width:108px;
height:69px;
border:1px solid #d4d4d4;
float:left;
margin-top:2px;
}
.InforSizeStyle{
width:470px;}
.Inforborder{
border-bottom:1px dashed #b5b5b5;
padding-bottom:5px;
}
.overflowStyle{
max-height:500px;
overflow:auto;
}
.NonebgColor{
background-color:#FFF;}

.tabTitle{
margin:10px auto;
padding-left:10px;
font-weight:bold;
}
.tabTitle span{
color:#666;}
.tabTitleactive{
background-color:#212121;
display:inline-block;
padding:4px 7px;
color:#fff;
}
.h3Margin{
height:18px;
line-height:18px;
margin-top:20px;
}
.PicBlockChangeWidth{
width:auto;
margin:0px 7px;
}
.marginT{
margin-top:70px;}
.marginT img{
border:none;
}
.Chagemargin{
margin-left:10px;}

.h3StyleChagemarin{
margin-left:20px;
}

/*搜索收起全部样式*/

.t_morzk,.t_morsq {
display:block;
 height: 19px;
line-height:19px;
width:43px;
 position: absolute;
 right:40px;
 top: 0;
width:43px;
background:url(../images/Arrows.jpg) no-repeat;
text-align:center;
color:#333;
}
.t_morzk{
background-position:-1px -22px;
}
.t_morzk:hover{
background-position:-45px -22px;
text-decoration:none;
}
.t_morsq{
background-position:-1px -1px;
}
.t_morsq:hover{
background-position:-45px -1px;
text-decoration:none;
}

.marginL{
margin-left:0px;}
.marginT20{
margin-top:20px;}
.term{
width:100px; 
text-align:left;
padding-left:23px;
margin-right:70px
}
.term h4{
font-weight:normal;
color:#666;
margin-left:8px;
font-weight:bold;}
.term a{
display:inline-block;
color:#ea5c2e;
padding:3px 7px 0px 7px;
height:22px;
line-height:22px;
}
.term .activeAbox{
background-color:#f1f1f1;
border:1px solid #cbcbcb;
color:#2a2a2a;
}


/*翻页*/

.pagination {
  margin: 20px auto;
  clear:both;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}


.pagination ul > li {
  display: inline;
}


.pagination ul > li > a,
.pagination ul > li > span,
.pagination ul > li > p{
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > span{
  color:#999999;
  cursor: default;
  background-color: #f5f5f5;


}
.pagination ul > li > p {
  border-top:0px;
  border-bottom:0px;
  margin:0px;
}
.pagination ul li a:hover
 {
  background:#f27e2d;
  color:#FFF;
}


.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}


.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}