<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!--登录-->
	<bean name="loginService" class="com.zqdy.service.impl.LoginServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" />
	</bean>
	
	 <bean name="snatchService" class="com.zqdy.service.impl.SnatchServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" />
		<property name="imagPath" value="${image.url}" />
		
	</bean>
	
	 <bean name="scheduleService" class="com.zqdy.service.impl.ScheduleServiceImp" autowire="byName">
		<property name="commonDao" ref="commonDao" />
	</bean>
	 
	 <bean name="modelService" class="com.zqdy.service.impl.ModelServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" />
		<property name="scheduleService" ref="scheduleService" />
	</bean>
	  
	  <bean name="movieService" class="com.zqdy.service.impl.MovieServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" />
		<property name="snatchService" ref="snatchService" />
	</bean>
	
	<bean name="tvService" class="com.zqdy.service.impl.TvServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" /> 
		<property name="snatchService" ref="snatchService" />
	</bean>
	
	<!-- 首页 -->
	<bean name="indexService" class="com.zqdy.service.impl.IndexServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" />  
	</bean>
	
	<bean name="searchService" class="com.zqdy.service.impl.SearchServiceImpl" autowire="byName">
		<property name="commonDao" ref="commonDao" />  
	</bean>
	 
  	<bean id="commonDao" class="com.zqdy.dao.impl.commonDaoImpl" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
	
</beans>
